body {
    background: #f6f6f6;
    text-align: center;
}
p {
    padding:0 10px 0 10px;
}
#sidebar_left {
    position: fixed;
    float: left;
    background: white;
    width: 320px;
    margin-top: 30px;
}

#current {
	color:white;
    background-color:royalblue;
    border-radius: 4px;
}

#tag_name{
	color:white;
}

#hottag {
    text-align: center;
}
.active {
    margin:5px;
}
#sidebar_right {
    position: fixed;
    float: right;
    background: white;
    width: 320px;
}
.pic img {
    width:150px;
    height:9p0x;
    margin-top: 0px;
    padding-top: 0px;
}
.container {
    background: #FFFFFF;
    width:700px;
}
.titlebox {
    margin:0px;
    position: relative;
}
.descbox {
    margin:0px;
    position: relative;
}
.content {
    width: 700px;
}
.labelbox {
    float:right;
    position: absolute;
    bottom: 10px;
    right:5px;
}
.label {
    margin:5px;
}
.label:hover {
    cursor:pointer;
}
.article {
    float:left;
    width:700px;
    height: 200px;
    margin: 0 400px 20px -15px;
    background-color: #DDDDFF;
    text-align: left;
    position: relative;
}
.title {
    max-height:60px;
}
.pic {
    float:left;
}
.tagbar {
    position: fixed;
    float:left;
    width: 320px;
}
.tag {
    margin:10px;
}
.condition {
    margin:10px;
}
#logo_img {
    margin-bottom:40px;
}
