body{
	background: #f6f6f6;
	text-align: center;
}

p{
	padding:0 10px 0 10px;
}

.pic img {
width:150px;
height:90px;
margin-top: 0px;
padding-top: 0px;
}

.container{
	width:700px;
	background: #FFFFFF;
	margin:0 auto;

}

.titlebox{
	margin:0px;
	position: relative;
}

.descbox{
	margin:0px;
	position: relative;
}

.content{
	width: 700px;
}

.labelbox{
	float:right;
	position: absolute;
	bottom: 10px;
	right:5px;

}

.label{
	margin:5px;
}

.article{
	float:left;
	width:700px;
	height: 200px;
	margin: 0 400px 20px -15px;
	background-color: #DDDDFF;
	text-align: left;
	position: relative;
}

.title{
	max-height:60px;
}

.pic{
	float:left;


}

.tagbar{
	position: fixed;
	float:left;
	width: 320px;
}

.tag{
	margin:10px;
}

.condition{
	margin:10px;
}

#logo_img{
	margin-bottom:40px;
}